.Home-page{
    width:100%;
    min-width:91.5vh;
    max-height:auto;
}
#header{
    max-width:600px;
    letter-spacing: 1px;
    filter:drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

.home-img{
    max-width:100%;
    max-height:100%;
    padding-top: 10px;
    opacity:0.5;
    filter:drop-shadow(0px 0px 5px rgb(42, 43, 46));
}

.viewBook{
    outline:none;
    text-decoration: none;
    width: 120px;
    border: 1px solid white;
    color:white;
    padding:1px 5px;
    font-size: 20px;
    background-color:transparent;
  }
  .viewBook:hover{
    color:white;
    background: rgb(197, 0, 0);
    filter:drop-shadow(0px 0px 5px rgb(0, 0, 0));
  }